<div class="mainc container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
       <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <div class="card">
             
  

             <form [formGroup] = 'user' (ngSubmit)="addUser()" >
               <h3>Register</h3>
  
               <div class="form-group">
                  
                  <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Enter Name"
                  name="name"
                  formControlName ='name'
                  />
                  <div class ="alert alert-danger" *ngIf ="name.touched && name.invalid">
                     <div *ngIf="name.errors?.required">Name is required...</div>
               
                   </div>
               </div>
               <br />
               <div class="form-group">
                 
                 <input
                 type="number"
                 class="form-control"
                 id="contact"
                 placeholder="Enter contact number"
                 name="contact"
                 formControlName ='contact'
                 />
                 <div class ="alert alert-danger" *ngIf ="contact.touched && contact.invalid">
                  <div *ngIf="contact.errors?.required">Contact is required</div>
                  <div *ngIf="contact.errors?.pattern">Contact shold be numbers</div>

                </div>
              </div>
              <br/>
               <div class="form-group">
                 
                  <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter email"
                  formControlName ='email'
                  name="email"
               
                  />
                  <div class ="alert alert-danger" *ngIf ="email.touched && email.invalid">
                     <div *ngIf="email.errors?.required">Email is required</div>
                     <div *ngIf="email.errors?.pattern">Enter valid emails</div>
   
                   </div>
               </div>
               <br />
               <div class="form-group">
                  <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter password"
                  name="password"
         
                  formControlName ='password'
                  />
                  <div class ="alert alert-danger" *ngIf ="password.touched && password.invalid">
                     <div *ngIf="password.errors?.required">Password is required...</div>
                     <div *ngIf="password.errors?.minlength">Enter password of Atleast 6 charcters</div>

                   </div>
               </div>
               <br />
         
               <button type="submit" class="btncls" >Register</button>
               </form>
          </div>
       </div>
    </div>
 </div> 

 <!-- [disabled]="!signupform.valid" -->