

.category{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: url("../../../../assets/img/back3.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
}

td, th, .btne {
    text-align: center;
    color: #537188;
    font-size: 1rem;
}

.top{
    text-align: right;
    margin-bottom: 8px;
  }