<div class="main-content">
    <br>
    <h2 class="card-title">Profile</h2>
    <div class="card">
     
        <p>Name: {{ userName }}</p>
        <p>Email: {{ userEmail }}</p>
        <p>Role: {{ role }}</p>

      </div>
      <ng-container *ngIf="orders && orders.length > 0">
        <h2 class="card-c-title">Order Details:</h2>

        <div *ngFor="let order of orders">
            <div class="card-c">
            <div class="container">
              <div class="row">
                <div class="col title" >Product Name</div>
                <div class="col title">Product Price</div>
         
                <div class="w-100"></div>
                </div>
                <div class="row" *ngFor="let product of order.products">
                <div class="col text" >     {{ product.productName }}</div>
                <div class="col text">{{ product.productPrice }}</div>
               
              </div>
        <hr style='align:"center"'>
        <div class="row">
          <div class="col text"><strong>Total:</strong></div>
          <div class="col text">
            <strong>
              {{ calculateTotal(order.products) }}
            </strong>
          </div>
        </div>
            </div>
       
            
          </div>
        </div>       
          
      </ng-container>
          
          
    
</div>
