<header class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
       
        <a class="navbar-brand" routerLink="/">
           
            company
        </a>

  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" *ngIf="!isAuthenticated()"><i class="fas fa-user-plus"></i> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="!isAuthenticated()"><i class="fas fa-sign-in-alt"></i> Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="isAuthenticated() && isUser()" routerLink="/shop">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/cart" *ngIf="isAuthenticated() && isUser()">View Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="isAuthenticated() && isUser()" routerLink="/profile">Profile</a>
          </li>
            <li class="nav-item logout-link">
              <a class="nav-link" *ngIf="isAuthenticated()" (click)="logout()">Logout</a>
          </li>
    
        </ul>
    </div>
</header>


