<div class="category">
    <div class="cat m-4">
    <div class="card mb-3">
        <div class="row">
            <div class="col-12 mt-3 ml-2" style=" text-align: left;">
                <h2>View Bill</h2>
            </div>
      
        </div>
      </div>
      <div class="card mb-3">
        <div class="row">
            <input type="text" class="form-control m-2" id="filter" placeholder="filter">
        </div>
      </div>
      <div class="card mb-3">
        <div class="row">
            <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">Total</th>
                    <th scope="col">Contact Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ABC</td>
                    <td>abc@gmail.com</td>
                        <td>456799808</td>
                            <td>Credit Card</td>
                                <td>5012</td>
                    <td><i class="fa-solid fa-eye theme-priamry mr-3" aria-hidden="true"></i><i class="fa fa-file theme-priamry mr-3" aria-hidden="true"></i><i class="fa fa-trash theme-priamry" aria-hidden="true"></i></td>
                 
                  </tr>
                  <tr>
                    <td>ABC</td>
                    <td>abc@gmail.com</td>
                        <td>456799808</td>
                            <td>Credit Card</td>
                                <td>5012</td>
                    <td><i class="fa-solid fa-eye theme-priamry mr-3" aria-hidden="true"></i><i class="fa fa-file theme-priamry mr-3" aria-hidden="true"></i><i class="fa fa-trash theme-priamry" aria-hidden="true"></i></td>
                 
                  </tr>
                 
                </tbody>
              </table>
        </div>
      </div>
    </div>
</div>