
.main-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../../../assets/img/back1.jpeg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    justify-items: center;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto; 

}


.thead{
    background-color: #93B1A6;
}

.center-table {
    text-align: center;
  }


.heading{
    font-size: 30px;
    margin: 12px;
    padding: 10px;
    padding-bottom: 30px;;
}

.heading-no{
    font-size: 30px;
    margin: auto;
    padding: 10px;
}

.button{
    width: 70px;
    background-color: #93B1A6;
    border-radius: 8px;
    margin: 15px auto;
    padding: 10px;
   
}
