<div class="mainc container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
       <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <div class="card">
    
 <form [formGroup] = 'user' (ngSubmit)="Login()">
             <h3>Login</h3>

             <div class="form-group">
                <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                formControlName ='email'
                />
                <div class ="alert alert-danger" *ngIf ="email.touched && email.invalid">
                    <div *ngIf="email.errors?.required">Email is required...</div>
              
                  </div>
             </div>
             <br />
             <div class="form-group">
                <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
                name="password"
                formControlName ='password'
                />
                <div class ="alert alert-danger" *ngIf ="password.touched && password.invalid">
                    <div *ngIf="password.errors?.required">Password is required...</div>
              
                  </div>
             </div>
             <br />
       
             <button type="submit" class="btncls" [disabled]="user.invalid">Login</button>
             </form>
         
          </div>
       </div>
    </div>
 </div> 

